external/json
external/petsc

build/
doc/build/

results/
**/__pycache__/**

(^tests)*.txt
(^tests)*.png
tests/boris_push/output/**
tests/basic/output/**
tests/ecsimcorr/output/**
*.out
*.bin
*.npy
*.mp4
*.pdf
*.zip
*.log